<!-- voter_analytics/voter_detail.html -->

{% extends 'voter_analytics/base.html' %}

{% block content %}
    <a class="back-to" href="{% url 'voters' %}">Back to Voter List</a>

    <div class="flex-center">
        <div class="centered-content">
            <h1 style="text-align: center;">Voter Details for {{ voter.first_name }} {{ voter.last_name }}</h1>

            <div class="mini-container">
                <h2>Personal Information</h2>
                <p><strong>Date of Birth:</strong> {{ voter.dob }}</p>
                <p><strong>Date of Registration:</strong> {{ voter.dor }}</p>
                <p><strong>Party Affiliation:</strong> {{ voter.party_affiliation }}</p>
                <p><strong>Precinct Number:</strong> {{ voter.precinct_number }}</p>
                <p><strong>Voter Score:</strong> {{ voter.voter_score }}</p>
            </div>
        
            <div class="mini-container">
                <h2>Residential Address</h2>
                <p>{{ voter.street_number }} {{ voter.street_name }}{% if voter.apartment_number %} Apt {{ voter.apartment_number }}{% endif %}, {{ voter.zip_code }}</p>
                <p><a href="https://www.google.com/maps/search/?api=1&query={{ voter.street_number }}+{{ voter.street_name }}+{{ voter.zip_code }}" target="_blank">View on Google Maps</a></p>
            </div>

            <div class="mini-container">
                <h2>Election Participation</h2>
                <ul>
                    <li>2020 State Election: {{ voter.v20state }}</li>
                    <li>2021 Town Election: {{ voter.v21town }}</li>
                    <li>2021 Primary Election: {{ voter.v21primary }}</li>
                    <li>2022 General Election: {{ voter.v22general }}</li>
                    <li>2023 Town Election: {{ voter.v23town }}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}