{% extends 'quotes/base.html' %}

{% block content %}
        <h1 class="center-content">Lewis Hamilton</h1>
        <p>Sir Lewis Carl Davidson Hamilton MBE HonFREng (born 7 January 1985) is a British racing driver, currently competing in Formula One for Mercedes. Hamilton has won a joint-record seven Formula One World Drivers' Championship titles (tied with Michael Schumacher), and holds the records for most wins (105), pole positions (104), and podium finishes (201), among others.</p>
        <br><br><br>
        <p class="center-content">The creator of this site is Tsz Kit Wong, senior CS student at Boston University.</p>
        <br><br><br>
{% endblock %}