# Ignore virtual environment
venv/

# Ignore Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Ignore Django migrations
*/migrations/*

# Ignore database files
db.sqlite3

# Ignore environment variables
.env

# Ignore system files
.DS_Store
*.swp

# Ignore the compiled files
*.egg-info/
