<!-- 
    By: Tsz Kit Wong
    File: project/templates/project/profile.html

    This file is the template for the profile page of the user. It includes the general watch list I made to include by defaul
    and a list of the transactions the user has made.
-->

{% extends 'project/base.html' %}

{% block content %}
    <main class="grid-container">
        <div class="profile-div">
            <article class="one-profile" style="margin-top: auto; margin-bottom: auto;">
                <div style="margin: auto;">
                    <h1 style="font-family: 'DM Serif Text', serif; font-size: 35px; text-align: center;">{{ profile.first_name }} {{ profile.last_name }}'s Profile</h1>

                    <!-- call the watch list -->
                    {% include 'project/watch_list.html' %} 
                    <!-- call the transactions list -->
                    {% include 'project/transactions_list.html' %} 
                </div>
            </article>
        </div>
    </main>
{% endblock %}  