<!-- mini_fb/templates/mini_fb/base.html -->
{% load static %}

<html>
    <head>
        <title>Mini FB</title>
        <!-- <link rel="stylesheet" href="/static/styles.css"> -->
        <link rel="stylesheet" href="{% static 'a5_styles.css' %}">
    </head>
    <body>

        <div class="header">
            <h1 id="page-title">Mini-Facebook</h1>

            <nav class="navbar">
                <ul class="nav-list">
                    <!-- using scriptlet URL to look up URL by name -->
                    <li><a href="{% url 'show_all_profiles' %}">Show All Profile</a></li>
                    <li><a href="{% url 'create_profile' %}">Create New Profile</a></li>
                </ul>
            </nav>

        </div>

        {% block content %}
        <!-- put the specific stuff here -->
        {% endblock %}
    </body>
</html>