<!-- mini_fb/templates/mini_fb/base.html -->
{% load static %}

<html>
    <head>
        <title>Mini FB</title>
        <!-- <link rel="stylesheet" href="/static/styles.css"> -->
        <link rel="stylesheet" href="{% static 'a5_styles.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">
    </head>
    <body>

        <div class="header">
            <h1 id="page-title">Mini-Facebook</h1>

            <nav class="navbar">
                <ul class="nav-list">
                    <!-- using scriptlet URL to look up URL by name -->
                    <li><a href="{% url 'show_all_profiles' %}">Show All Profiles</a></li>
                    <li><a href="{% url 'create_profile' %}">Create New Profile</a></li>

                    {% if request.user.is_authenticated %}
                        {% if request.user.profile %}
                            <li><a href="{% url 'news_feed' %}">News Feed</a></li>
                            <li><a href="{% url 'show_profile' request.user.profile.pk %}">My Profile</a></li>
                        {% endif %}
                        <li>
                            <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="logout-button">Log Out</button>
                            </form>
                        </li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>

            <div>
                {% if request.user.is_authenticated %}
                    <p style="margin: 0 auto;">Logged in user: {{ request.user }}.</p>
                {% else %}
                    <p style="margin: 0 auto;">Not logged in.</p>
                {% endif %}
            </div>

        </div>

        {% block content %}
        <!-- put the specific stuff here -->
        {% endblock %}
    </body>
</html>