{% extends "mini_fb/base.html" %}

{% block content %}
    <main class="grid-container">
        <article class="one-profile" style="width: 40%; margin-top: auto; margin-bottom: auto; margin-right: 120px; margin-left: 120px;">
            {% if profile.profile_img %}
            <img src="{{ profile.profile_img }}" alt="{{ profile.first_name }}'s profile image" style="width:250px; margin-right: 15px;">
            {% endif %}
            
            <div style="margin: 0;">
                <h1 style="font-size: 35px;">{{ profile.first_name }} {{ profile.last_name }}</h1>
                <p><strong>City:</strong> {{ profile.city }}</p>
            </div>
        </article>

        <div class="msgs-div">
            <h2>Status Messages</h2>
            {% for status in profile.status_messages.all %}
            <article>
            <div>
                {{ profile.first_name }} {{ profile.last_name }} at {{ status.timestamp }}
                <br><br>
                {{ status.message }}
                <br><br>
                <div class="images">
                    {% for img in status.get_images %}
                        <img src="{{ img.image_file.url }}" alt="Image for status" style="width:150px;">
                    {% endfor %}
                </div>
                <div style="margin-top: 15px;">
                    <a href="{% url 'update_status' status.pk %}" class="submit-btn" style="margin-top: 10px;">Update Status</a>
                    <a href="{% url 'delete_status' status.pk %}" class="submit-btn" style="background-color: rgb(179, 41, 41);">Delete</a>
                </div>
            </div>
            </article>
            {% endfor %}

            <div style="margin-top: 30px; margin-left: 15px;">
                <a href="{% url 'create_status' profile.pk %}" class="submit-btn">Add New Status</a>
                <a href="{% url 'update_profile' profile.pk %}" class="submit-btn">Update Profile</a>
            </div>
        </div>
    </main>
{% endblock %}
