/* 
    By: Tsz Kit Wong
    File: final_styles.css
    
    This file contains all of the external styles for my final project, utilized some cool effects to make the
    site more visually appealing, including some hover effects, color changes, and border-radius changes. A lot
    of it is mostly positioning and sizing of the elements on the different templates of the site
*/

body {
    margin: 0;
    /* background-color: rgb(18, 18, 18);
    color: rgb(255, 255, 255); */
    background-color: rgb(255, 255, 255);
    color: rgb(18, 18, 18);
}


/* some styles for the navbar of the site */
.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    color: rgb(18, 18, 18);
    width: 100%;
    border-bottom: 1px solid rgb(18, 18, 18);
}

.nav-bar-links {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.nav-bar-links ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.nav-bar-links ul li {
    margin: 0 20px;
}

.nav-bar-links ul li a, .nav-bar-links p, .nav-bar-links ul li button {
    margin: 0 auto;
    text-decoration: none;
    color: rgb(18, 18, 18);
    font-family: 'DM Serif Text', serif;
}

.nav-bar-links ul li a:hover {
    background-color: rgb(204, 255, 0);
    color: rgb(18, 18, 18);
    padding: 5px 15px;
    transition: 0.5s;
    border-radius: 10px;
}

.nav-bar-logo {
    display: flex;
    align-items: center;
}

/* sizing the duck money bag logo */
.nav-bar-logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

/* styles for the general recommendations section */
.gw-rec-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 85%;
    /* border: 1px solid rgb(18, 18, 18); */
    border-radius: 4px;
    margin: 0 auto;
    padding: 50px 50px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}
/* each idividual stock's card */
.gw-rec-card {
    background-color: rgb(18, 18, 18);
    color: rgb(255, 255, 255);
    padding: 30px 50px;
    margin: 0 auto;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 30px;
    width: 33%;
}

/* stlyes for the user's watch list  */
.watch-rec-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 85%;
    /* border: 1px solid rgb(18, 18, 18); */
    border-radius: 4px;
    margin: 0 auto;
    padding: 50px 50px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.watch-rec-card {
    /* background-color: rgb(18, 18, 18);
    color: rgb(255, 255, 255); */
    padding: 30px 50px;
    margin: 0 auto;
    margin-top: 45px;
    border: 1px solid rgb(18, 18, 18);
    border-radius: 40px;
    width: 50%;
}

/* styling the texts and positions in the user watch list stock cards */
.watch-rec-card h3, .watch-rec-card h4, .watch-rec-card p {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 50%;
}
.watch-rec-card h3 {
    font-size: 24px;
}

.watch-rec-card h4 {
    font-size: 20px;
}

/* remove from list button in watch list */
.watch-rec-card button, .gw-rec-card button {
    margin: 0 auto;
    padding: 8px 15px;
    background-color: rgb(188, 25, 25);
    color: white;
    border-radius: 25px;
    border: none;
}

.gw-rec-card button {
    background-color: rgb(0, 200, 5);
}

.watch-rec-card button:hover, .gw-rec-card button:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(18, 18, 18);
    transition: 0.5s;
}


/* styles for the transactions sections */
.transact-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    /* color: rgb(255, 255, 255);
    background-color: rgb(18, 18, 18); */
    padding: 20px 20px;
    border: 1px solid rgb(18, 18, 18);
    border-radius: 25px;
}

#transaction-title {
    padding: 10px 10px;
    background-color: rgb(18, 18, 18);
    width: 30%;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 16px;
    border-radius: 15px;
}

.transact-card {
    width: 60%;
    margin: 0 auto;
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    padding-top: 20px;
    padding-bottom: 20px;
}

.transact-hr {
    border: 0.8px solid rgb(18, 18, 18);
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    width: 60% !important;
}

.transact-card:last-child {
    border: none;
}

/* some condition coloring for the different types of transactions */
.transact-card.buy {
    color: rgb(0, 200, 5);
}
.transact-card.sell {
    color: rgb(217, 29, 29);
}

/* just placed the footer at the bottom */
footer {
    /* margin-top: 200px; */
    text-align: center;
    width: 100%;
    padding: 10px 0;
}

.space-it {
    width: 82%;
    margin: 0 auto;
}

.content-block {
    margin-top: 60px;
}

.content {
    flex: 1;
    padding: 20px;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* the copy of robinhood ad at the top of page, adds a bit of color and pop to the page */
.ad {
    background-color: rgb(204, 255, 0);
}

.ad h3 {
    margin: 0;
    padding: 10px;
}


/* styling the login page + forms */
.login-container, .signup-container {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 0 auto;
    margin-top: 200px;
    /* text-align: center; */
    align-items: center;
    margin-bottom: 200px;
}

.signup-container {
    margin-bottom: 600px;
}

.signup-container {
    margin-top: 100px;
    align-items: normal;
}

.login-container h2, .signup-container h2 {
    margin-bottom: 40px;
}

.login-container form, .signup-container form {
    align-items: center;
}

.login-container input[type="text"],
.login-container input[type="password"],
.signup-container input[type="text"],
.signup-container input[type="password"],
.signup-container input[type="email"],
.signup-container input[type="date"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container input[type="submit"], 
.signup-container input[type="submit"],
.submit-btn {
    margin-top: 30px;
    padding: 10px 50px;
    background-color: rgb(18, 18, 18);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.login-container input[type="submit"]:hover {
    background-color: rgb(67, 67, 67);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}


/* two column some divs */
.left {
    width: 50%;
}

.right {
    width: 50%;
    position: absolute;
    right: 0;
}

.sign_up_link {
    margin-top: 50px;
}

.sign_up_link a {
    color: rgb(18, 18, 18);
    font-weight: bold;
}

#cancel {
    text-decoration: none;
    padding-top: 8px;
    margin-left: 5px;
}

.profile-form {
    margin-left: 20px;
}

/* styling the stock detail pages, graphs, etc. */
.price-chart {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.additional-info-section {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 80px;
    background-color: rgb(18, 18, 18);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    position: relative;
    margin-top: 25px;
}   

.additional-info-content p {
    padding: 10px 20px;
    width: 50%;
    margin: 0 auto;
}

.info-content {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

#ad-info-title {
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(18, 18, 18);
    width: 20%;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 15px;
    padding: 5px 0px;
    border-radius: 20px;
}

.space {
    padding-left: 5px;
    color: rgb(18, 18, 18);
}

.info-header {
    margin-left: 30px;
}

#info-header-title {
    margin-top: 15px;
    margin-left: 150px;
    margin-bottom: 50px;
    background-color: rgb(18, 18, 18);
    color: rgb(255, 255, 255);
    width: 17%;
    padding-left: 12px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 2px;
    border-radius: 40px;
    text-align: center;
}

/* styling the portfolio sections */
.portfolio-container {
    border: 1px solid rgb(18, 18, 18);
    border-radius: 55px;
    width: 80%;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 80px;
}

#portfolio-title {
    width: 50%;
    padding: 20px 10px;
    background-color: rgb(18, 18, 18);
    color: rgb(255, 255, 255);
    margin: 0 auto;
    margin-bottom: 60px;
    border-radius: 50px;
}

.portfolio-description {
    margin: 0 auto;
    margin-top: 50px;
    width: 60%;
    text-align: center;
}

.portfolio-description p {
    font-size: 18px;
}

.portfolio-table {
    justify-content: center;
    text-align: left;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 100px;
}

.portfolio-table-item {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.portfolio-table th {
    font-size: 16px;
    padding-bottom: 10px;
}

#portfolio-hr {
    width: 80%;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 30px;
}


/* styling the pagination section in the  */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 100px;
}
/* styling the links */
.pagination a {
    padding: 3px 8px;
    margin: 0 5px;
    border: 1px solid rgb(18, 18, 18);
    border-radius: 5px;
    text-decoration: none;
    color: rgb(18, 18, 18);
}
.pagination a:hover {
    background-color: rgb(18, 18, 18);
    color: rgb(255, 255, 255);
    transition: 0.5s;
}


/* styling the transaction operation form under the portfolio page */
.buy-sell-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
}

#sell-btn {
    background-color: rgb(204, 255, 0);
    color: rgb(18, 18, 18);
    padding: 10px 105px;
    /* border: 1px solid rgb(18, 18, 18); */
    border: none;
    border-radius: 16px;
    font-size: 18px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

#sell-btn:hover {
    background-color: rgb(18, 18, 18);
    color: rgb(255, 255, 255);
    transition: 0.5s;
    cursor: pointer;
}