{% extends 'wt_scrooge_capital/base.html' %}

{% block content %}
    <div class="content-block space-it">
        <h2>Welcome to WT. Scrooge Capital</h2>
        <p>
            WT. Scrooge Capital is a platform that allows you to manage your investment portfolio and track your transactions.
            >WT. Scrooge Capital is a platform that allows you to manage your investment portfolio and track your transactions.
            >WT. Scrooge Capital is a platform that allows you to manage your investment portfolio and track your transactions.
            >WT. Scrooge Capital is a platform that allows you to manage your investment portfolio and track your transactions.
            >WT. Scrooge Capital is a platform that allows you to manage your investment portfolio and track your transactions.
            >WT. Scrooge Capital is a platform that allows you to manage your investment portfolio and track your transactions.
            >WT. Scrooge Capital is a platform that allows you to manage your investment portfolio and track your transactions.
            >WT. Scrooge Capital is a platform that allows you to manage your investment portfolio and track your transactions.
            >WT. Scrooge Capital is a platform that allows you to manage your investment portfolio and track your transactions.
        </p>
    </div>

    {% include 'wt_scrooge_capital/watch_list.html' %}  
{% endblock %}